<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uto.djf.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 在SD卡中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 向SD卡写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="1920" />
        <meta-data
            android:name="design_height"
            android:value="1080" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screenmesure.ScreenMesureActivity" />
        <activity
            android:name=".activity.ExpandableListViewActivity"
            android:label="@string/title_activity_expend_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".activity.ImageIdentifyActivity" />
        <activity android:name=".activity.DrawLineActivity" />
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".activity.NetworkActivity" />

        <!-- <receiver android:name=".BroadcaseReceiver.BootRestartReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".activity.SDCardPathActivity" />
        <activity android:name=".wifiscan.WifiScanActivity" />
        <activity
            android:name=".activity.VideoViewPlayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.AActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.ForiTimeTestActivity" />
        <activity android:name=".activity.NetResourceTestActivity" />
        <activity android:name=".activity.ThreadPoolTestActivity" />
        <activity android:name=".activity.IPGetActivity" />
        <activity android:name=".activity.VitamioVideoPlayActivity" />
        <activity android:name=".CardViewActivity" />
        <activity android:name=".activity.VRVideoActivity" />
        <activity android:name=".HistogramViewActivity" />
        <activity android:name=".activity.PolymorphismTest"></activity>
    </application>

</manifest>